@use "../../globals" as *;

.p-sample {
  width: 100%;
  background-color: red;
  padding: 2rem 0;
}

.p-sample__title {
  text-align: center;
  color: rgb(13, 41, 54);
  font-size: 2rem;
}

.p-sample__text {
  text-align: center;
  color: white;
  font-size: 1.5rem;
}
